<!DOCTYPE html>
<html lang="en">

<head>
  <title>Meme Detail</title>
  <%- include('./partials/head.ejs') %>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/details.ejs') %>
      <%- include('./partials/scripts.ejs') %>
</body>

</html>